h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    text-decoration:none;
    margin-top: 200px;
    margin-left: 550px;
    margin-right: 550px;
    line-height: 26px;

}
p {
    font-size: 38px;
    font-family: 'Cormorant', serif;
    line-height:50px;
    margin-top: 40px;
    margin-left: 550px;
    margin-right: 550px;
    margin-bottom: 50px;
    
}


   


ul{
    font-family: 'courier New';
    font-size: 18px;
    display: flex;
    justify-content: none;
    align-items: left;   

}

a {

    margin-left: 550px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: black;
    text-decoration: none;
    display: grid;
    line-height: 32px;

}

a:hover {

        margin-left: 550px;
        font-family: 'courier New';
        font-size: 18px;
        color: black;
        text-decoration: none;
        display: grid;
        line-height: 32px; 
        background-color:#F5F2F2; 
    
    

}
